@use "../variables/colors";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1rem;
}

body,
input,
button,
textarea {
  font-family: "Space Mono", monospace;
}

input {
  font-size: 1.5rem;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: colors.$cyan-200;
  overflow-x: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}
